.articlePreview {
    border: 1px solid rgb(224, 224, 224);
    background-color: white;
    margin-top: 50px;
    border-radius: 10px;
    padding: 30px 50px;

    .apContent{
        margin-bottom: 15px;
    }
  }